@import "./base/reset";
@import "./base/fonts";
@import "./base/variables";
@import "./base/mixins";

body {
  .slider {
    width: 800px;
    height: 600px;
    position: relative;
    img {
      // &:first-child {
      //   opacity: 1;
      // }
      transition: opacity 300ms;
      position: absolute;
      left: 0;
      top: 0;
      &.show {
        opacity: 1;
      }
      &.hide {
        opacity: 0;
      }
      display: block;
      width: 800px;
      height: 600px;
      opacity: 0;
    }
  }
  nav.navigatie {
    display: flex;
    align-items: center;
    & > a {
      margin-right: auto;
    }
    & > ul {
      background-color: red;
      // height: 75px;
      display: flex;
      & > li {
        position: relative;
        &:hover {
          ul {
            opacity: 1;
          }
        }
        a {
        }
      }
      li {
        margin: 0 20px;
        a {
        }
        ul {
          position: absolute;
          transition: opacity 0.4s;
          left: 0;
          top: 16px;
          opacity: 0;
          padding: 20px;
          background-color: green;
          li {
            margin: 0;
            white-space: nowrap;
          }
        }
      }
    }
  }
  p {
    color: $green !important;
    font-family: $primary-font;
  }
  #container {
    img {
      @include responsive();
    }
  }
  .grid {
    @include make-col(5, 20px);
    div {
      background-color: blue;
      img {
        @include responsive;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  p {
    color: $red;
  }
}

@media screen and(max-width: 1000px) {
  body {
    .grid {
      @include make-col(4, 20px);
    }
  }
}
@media screen and(max-width: 800px) {
  body {
    .grid {
      @include make-col(3, 20px);
    }
  }
}
@media screen and(max-width: 600px) {
  body {
    .grid {
      @include make-col(2, 10px);
    }
  }
}
@media screen and(max-width: 400px) {
  body {
    .grid {
      @include make-col(1, 0px);
    }
  }
}
